version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: oldest_businesses_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - oldest_businesses_data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  oldest_businesses_data:
