version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: superstore_postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - superstore_data:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  superstore_data:
